.text {
  font-family: "Roboto", sans-serif;
}
.logo-accent {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  /* identical to box height */
  letter-spacing: 0.03em;
  color: #2196f3;
}
.logo-accent-second {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  /* identical to box height */
  letter-spacing: 0.03em;
  color: #000000;
}
.logo-accent-footer {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  /* identical to box height */
  letter-spacing: 0.03em;
  color: #ffffff;
}
.link {
  text-decoration: none;
  list-style-type: none;
}
.link:hover {
  color: #2196f3;
}
.link:focus {
  color: #2196f3;
}
.main-section {
  background-color: #2f303a;
}
.main-title {
  color: #ffffff;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.main-button {
  background-color: #2196f3;
  color: white;
  width: 216px;
  height: 50px;
  left: 692px;
  top: 430px;
  cursor: pointer;
}
.main-button:hover {
  opacity: 0.3;
}
.main-button:focus {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  /* identical to box height, or 188% */
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  cursor: pointer;
}
.benefits-title {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.description-benefits {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */
  letter-spacing: 0.03em;
  color: #757575;
}
.our-business {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.list-style {
  list-style-type: none;
  text-decoration: none;
  color: #212121;
  font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;
}
.list-style:hover {
  color: #2196f3;
}
.list-style:focus {
  color: #2196f3;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}
.button-style {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */
  letter-spacing: 0.03em;
  color: #212121;
  cursor: pointer;
}
.button-style:hover {
  color: #ffffff;
  background-color: #2196f3;
}
.button-style:focus {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: #2196f3;
  cursor: pointer;
}
.team {
  background-color: #f5f4fa;
}
.our-team {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.5;  
  letter-spacing: 0.03em;
  color: #212121;
}
.workers {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  letter-spacing: 0.03em;
  color: #212121;
}
.positions {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  letter-spacing: 0.03em;
  color: #757575;
}
.footer {
  background-color: #2f303a;
}
.map {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */
  letter-spacing: 0.03em;
  color: #ffffff;
  text-decoration: none;
}
.map:hover {
  color: #2196f3;
}
.contacts {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */
  letter-spacing: 0.03em;
  color: #757575;
  text-decoration: none;
}
.contacts:hover {
  color: #2196f3;
}
.contacts:focus {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #2196f3;
  text-decoration: none;
}
/*portfolio*/
.list-style-portfolio {
  list-style-type: none;
}
.list-style-buttons {
  list-style-type: none;
}
.portfolio-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  /* identical to box height, or 200% */
  letter-spacing: 0.06em;
  color: #212121;
}
.portfolio-description {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  /* identical to box height, or 188% */
  letter-spacing: 0.03em;
  color: #757575;
}
